@model Rental.Models.Car

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2>Edit</h2>

    <h4>Car</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CarId" />
                <div class="form-group">
                    <label asp-for="LicenseNumber" class="control-label">License Number</label>
                    <input asp-for="LicenseNumber" class="form-control" />
                    <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Seats" class="control-label"></label>
                    <input asp-for="Seats" class="form-control" />
                    <span asp-validation-for="Seats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Doors" class="control-label"></label>
                    <input asp-for="Doors" class="form-control" />
                    <span asp-validation-for="Doors" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AirCon" class="control-label">Air Conditioning</label>
                    <input asp-for="AirCon" class="form-control" />
                    <span asp-validation-for="AirCon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Available" class="control-label"></label>
                    <input asp-for="Available" class="form-control" />
                    <span asp-validation-for="Available" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PricePerDay" class="control-label">Price per Day</label>
                    <input asp-for="PricePerDay" class="form-control" />
                    <span asp-validation-for="PricePerDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CarType" class="control-label">Car Type</label>
                    <select asp-for="CarType" class="form-control" asp-items="ViewBag.CarType">
                        <option value="">-- Select Type --</option>
                    </select>
                    <span asp-validation-for="CarType" class="text-danger" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
            $(document).ready(function () {
                var selectedId = @ViewData["selectedModel"];
                var options = $("#CarType").find("option");
                options.each(function (index, e) {
                    if ($(e).val() == selectedId) {
                        $("#CarType")[0].selectedIndex = index;
                    }
                })
            })

</script>
    }
